<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scientific Calculator</title>
</head>
<body>
<script>
    function myFunc() {
        const a = document.getElementById("input1").value;
        const b = document.getElementById("input2").value;
        const option = document.getElementById("calc").value;
        const base = "http://localhost:8082";

        // console.log(option);

        if(option == "log") {
            fetch(base+'/getLog', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json;charset=utf-8'
                },
                body: JSON.stringify({
                    input1:a.toString(),
                    input2:b.toString()
                })
            }).then(response => response.json())
                .then((data) => {
                    document.getElementById("result").value = data;
                });
        }
        else if(option == "fact") {
            // console.log(a);
            fetch(base+'/getFact', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json;charset=utf-8'
                },
                body: JSON.stringify({
                    input1:a.toString(),
                    input2:b.toString()
                })
            }).then(response => response.json())
                .then((data) => {
                    // console.log(data);
                    document.getElementById("result").value = data;
                });
        }
        else if(option == "sqrt") {
            fetch(base+'/getSqrt', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json;charset=utf-8'
                },
                body: JSON.stringify({
                    input1:a.toString(),
                    input2:b.toString()
                })
            }).then(response => response.json())
                .then((data) => {
                    document.getElementById("result").value = data;
                });
        }
        else if(option == "pow") {
            fetch(base+'/getPow', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json;charset=utf-8'
                },
                body: JSON.stringify({
                    input1:a.toString(),
                    input2:b.toString()
                })
            }).then(response => response.json())
                .then((data) => {
                    document.getElementById("result").value = data;
                });
        }
        else {

        }
    }
</script>
<h1> MT2021007
</h1>
<h2>Scientific Calculator</h2>
<label for="input1">Input First :</label>
<input type="number" id="input1" maxlength="4" size="4"><br>
<label for="input2">Input Second :</label>
<input type="number" id="input2" maxlength="4" size="4"><br>
<select name="calc" id="calc">
    <option value="log">Logarithm</option>
    <option value="fact">Factorial</option>
    <option value="sqrt">Square Root</option>
    <option value="pow">Power</option>
</select>
<button onclick="myFunc()">Calculate</button><br>
<label for="result"> Result :</label>
<input type="number" id="result">
</body>
</html>
